<plugin id="cordova-plugin-mcumgr" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Mcumgr</name>
    <js-module src="www/mcumgr.js" name="Mcumgr">
        <clobbers target="mcumgr" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/McumgrPlugin.java" target-dir="src/it/doomkyn/mcumgr" />
        <config-file target="config.xml" parent="/*">
            <feature name="McumgrPlugin">
                <param name="android-package" value="it.doomkyn.mcumgr.McumgrPlugin" />
            </feature>
        </config-file>
    </platform>
</plugin>
